* {
        margin:0;
        padding:0;
}
body {
        background-color:#C0C0C0;
        font-family:Arial,sans-serif;
}
div {
        margin:10px 20px;
        padding:8px;
}
.application {
        border:solid 1px #444444;
        background-color:#EFEFEF;
}
.error {
        color:#880000;
        border:solid 1px #880000;
        background-color:#EFCCCC;
}
.index {
	position: fixed;
        border:solid 1px #444444;
        background-color:#EFEFEF;
	width: 1100px;
	height: 400px;
	margin: 0 auto;
	top: 160px;
	left: 50px;
}
.search {
        border:solid 1px #444444;
        background-color:#EFEFEF;
        font-family:Arial,sans-serif;
        font-size: small;
}
.tview {
        position: fixed;
        width: 1100px;
        height: 400px;
        margin: 0 auto;
        top: 160px;
        left: 50px;
}
.message {
        color:#008800;
        border:solid 1px #444444;
        background-color:#EFEFEF;
	width: 500px;
	margin: 0 auto;
}
.credential {
        position: fixed;
        top: 190px;
        right: 400px;
        border:solid 1px #444444;
        background-color:#EFEFEF;
        width: 350px;
        font-family:Arial,sans-serif;
}
.deluser {
        position: fixed;
        top: 190px;
        right: 400px;
        border:solid 1px #444444;
        background-color:#EFEFEF;
        width: 550px;
        font-family:Arial,sans-serif;
}
.menu {
	position: fixed;
	top: 60px; 
	right: 10px;
        border:solid 1px #444444;
        background-color:#EFEFEF;
	width: 300px;
        font-family:Arial,sans-serif;
	font-size: small;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 1200px;
	text-align: center;
}
.logout {
        position: fixed;
        top: 5px;
        right: 10px;
        border:solid 1px #444444;
        background-color:#EFEFEF;
        width: 180px;
        font-family:Arial,sans-serif;
	font-size:small;
}
ul {
        list-style-type:square;
        margin-left:20px;
}
li {
        margin-bottom:0.4em;
}
p {
        margin:0.4em 0.2em;
}
.ms {
        font-family:monospace;
}

